* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tic-tac-toe {
  display: flex;
  width: 300px;
  border: 1px solid green;
}

.row {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cell {
  outline: 1px solid black;
  aspect-ratio: 1;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.closed {
  display: none;
}

.modal-close-btn {
  position: absolute;
  top: 50px;
  right: 50px;
  background: none;
  border: none;
  background: lightgray;
  padding: 5px;
  border-radius: 5px;
  display: flex;

  align-items: center;
  justify-content: center;
}

.modal-close-btn:hover {
  background: gray;
}

.modal-close-btn:active {
  filter: brightness(0.9);
}

.winner-modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  font-size: 5rem;
  background-color: rgba(0, 0, 0, 0.75);
}

.winner-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winner-token-text {
  font-size: 8rem;
}